{%  extends 'base.html.twig' %}

{% block metatitle %} Pokemon form builder
{% endblock %}


{% block content %}

    {% if app.request.method == 'POST' %}
        <p> Le pokemon a bien été créé ! </p>
    {% endif %}

    {{ form_start(pokemonForm) }}


        <div class="test">

            {{ form_row(pokemonForm.title) }}

        </div>

        {{ form_row(pokemonForm.content) }}
        {{ form_row(pokemonForm.image) }}
        {{ form_row(pokemonForm.type) }}

        {# se base sur les paramètres entrés dans le PokemonTypeBuilder (qui lui se base sur les colonnes de l'entité en bdd). | ->add('valider', SubmitType::class) #}
        {{ form_row(pokemonForm.valider) }}

    {{ form_end(pokemonForm) }}

{% endblock %}